.pokemon {
  width: 500px;
  height: 500px;
  background-image: url(https://wallpapers.com/images/hd/famous-poke-ball-pokemon-iphone-ftcr6eifgzyiws2i.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10000px;
}
.pokemon-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.pokemon-image {
  width: 50%;
  height: 50%;
}
.pokemon-type {
  color: black;
  font-size: 30px;
}
